
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Pillerdeeper Fund Raising</title>
    <link rel="stylesheet" href="../css/w3.css">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/"
        crossorigin="anonymous">
    <link rel="stylesheet" href="../css/style.css">

    <script src="../script/title.js"></script>


</head>

<body>

<script>
    title='Page Not Found';
    titleTag(title); 
</script>

<div class="container text-center pt-5 w3-text-white">
    <h2>Site Under Maintainance</h2>
    <h1>[]</h1>
    <p>This site is under Maintainance kindly check back in few minutes.</p>
    <p></p>
    <p></p>
    <p></p>
    <a class="btn btn-link w3-text-amber" href="layout.php">Refresh Page</a>
</div>
</body>
